<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307102859657-sp1ov72etu61blrnf9hrofnl01reuar2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307102859657-sp1ov72etu61blrnf9hrofnl01reuar2</string>
	<key>API_KEY</key>
	<string>AIzaSyC_i8Re8pREPKs91VfFrR2bpXSAcE-7kf4</string>
	<key>GCM_SENDER_ID</key>
	<string>307102859657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ipd.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ipd1-511b5</string>
	<key>STORAGE_BUCKET</key>
	<string>ipd1-511b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307102859657:ios:8afbc75368badbcf0f2158</string>
</dict>
</plist>